/* -------------------------------------------

Name:       Okai
Version:    1.0
Author:	    bslthemes
Website:    https://bslthemes.com/
Developer:	millerDigitalDesign (https://themeforest.net/user/millerdigitaldesign/)

------------------------------------------- */

/*--------------------------------------------

1. common
    - main
    - settings
    - typography
    - cursor
    - scrollbar
    - breadcrumbs
    - buttons
    - link
    - spaces
2. banners
3. components
    - top panel
    - menu button
    - menu
    - social
    - portfolio
    - fullscreen slider
    - counters
    - call to action
    - blog
    - comments
    - instagram
    - reviews
    - slider
    - about
    - iconbox
    - brands
    - form
    - project
    - services
    - accordion
    - video
    - price
    - team
    - store
    - tabs
    - quantity
    - footer

--------------------------------------------*/

@import 'variables';
@import 'common';
@import 'banners';
@import 'components';